* {
	margin: 0;
	padding: 0;
}
p,input,h4 {
	width: 400px;
	margin:50px;
}
/*Задани 1*/
.paragraph_one {
	background: green;
}
.paragraph_one:hover {
	background: yellow;
}
.paragraph_one:active {
	background: red;
}
.paragraph_two {
	background: purple;
}
.paragraph_two:hover {
	background: brown;
}
.paragraph_two:active {
	background: gold;
}

/*Задание 2*/
input {
	outline:none;
}
input:focus {
	border: 1px solid green;
}

/*Задание 3*/
.paragraph_three:nth-child(2n) {
	background: grey;
}

/*Задание 4,5,6*/
.paragraph_four:first-letter {
	font-size: 2em;
	color:red;
	font-family: Georgia;
}
.paragraph_four:after{
	content: "*";
}
.paragraph_four:before {
	content: "\2602";
}